html{
	max-height: 100vh !important;
	height: 100vh !important;
}
.side{
	height: calc(100vh - 56px) !important;
}
@media only screen and (min-width: 601px){
	.side{
		height: calc(100vh - 64px) !important;
	}
}
.side{
	height: 100vh !important;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
}
.side a{
	color:black !important;
}
.side .collapsible{
	background-color: white !important;
}
#corpo{
	padding:5px !important;
	position: fixed;
}
#corpo .item{
	margin-bottom:10px;
}